*~
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
eyedbconfig.h.in
install-sh
ltmain.sh
m4/java/libtool.m4
m4/java/ltoptions.m4
m4/java/ltsugar.m4
m4/java/ltversion.m4
m4/java/lt~obsolete.m4
missing
py-compile
