#
# EyeDB Access file
#

# granted computer, subnetmask or +  | granted EyeDB users or +

# Any access is granted:
+                                      +

# examples:

# computer1.domain.com                 +
# computer2.domain.com                 = guest +
# computer3.domain.com                 + !eyedbroot
# 193.52.221.0			       +
# 193.53.0.0			       heyman
