body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  margin: 10px 0;
  padding: 0;
}

/* container ------------------------------ */
#container {
  margin: 0 auto;
  text-align: left;
}

#header {
  height: 75px;
  margin: 0;
  padding: 0;
  background: url('images/eyedb-banner.png') top left no-repeat;
}

#header h1 {
  text-indent: -5000px;
  margin: 0;
  line-heigth: 0;
}

#header p {
  margin: 18px 0 0 105px;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;
  color: white;
}

p {
  margin: 0px 0px 0px 0px ;
}

ul {
/*   list-style: square inside url('arrow.gif'); */
  padding: 0cm 0.5cm;
 margin-left: 0.5cm;
}

li {
 padding: 0cm 0cm;
 border-style: solid;
 border-width: 0px;
}

table {
}

tr {
  margin: 0px 5px 0px 5px ;
  border: 1px 1px 1px 1px;
  border-color: #1020E0;
}

td {
  margin: 0px 5px 0px 5px ;
  border: 1px 1px 1px 1px;
  border-color: #1020E0;
}

.Hide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

#TOC ul {
}

#TOC li {
  margin-bottom: 5px;
}

#TOC a {
  margin: 0 2px;
}

#Footer {
}

